* {
  padding: 0;
  box-sizing: border-box;
}

header {
  max-width: auto;
  background-color: #f5f5f5;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-container {
  max-width: 300px;
}

.text-container h1 {
  font-size: 24 px;
  color: rgb(7, 82, 33);
  margin-bottom: 20px;
}

.text-container p {
  font-size: 18px;
  font-family: Arial, sans-serif;
  color: rgb(7, 82, 33);
  line-height: 1.5;
  margin-bottom: 20px;
}

.shop-btn {
  background-color: rgb(7, 82, 33);
  color: white;
  font-size: 18px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px;
}
.shop-btn:hover {
  background-color: #93cd16;
}
.image-content img {
  width: 350px;
  height: 350px;
  border-radius: 5px;
}
.buy-container {
  width: 900px;
  margin: auto;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
}
.buy-container h1 {
  font-size: 24 px;
  color: rgb(7, 82, 33);
  margin-bottom: 20px;
}
.buy-container p {
  font-size: 18px;
  color: rgba(7, 82, 33);
}
.buy-container img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}
